anyio==4.14.1
asgiref==3.11.1
black @ git+https://github.com/psf/black@8140f6e47ed15762ec0bf0d03ee03869fa655ce2
build==1.5.0
CacheControl==0.14.4
certifi==2026.6.17
charset-normalizer==3.4.7
cleo==2.1.0
click==8.4.2
colorama==0.4.6
crashtest==0.4.1
distlib==0.4.3
Django==6.0.6
djangorestframework==3.17.1
dulwich==1.2.6
factory_boy==3.3.3
Faker==40.23.0
fastjsonschema==2.21.2
filelock==3.29.4
findpython==0.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
iniconfig==2.3.0
installer==1.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
keyring==25.7.0
more-itertools==11.1.0
msgpack==1.2.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pbs-installer==2026.6.10
pkginfo==1.12.1.2
platformdirs==4.10.0
pluggy==1.6.0
poetry==2.4.1
poetry-core==2.4.0
Pygments==2.20.0
pyproject_hooks==1.2.0
pytest==9.1.1
python-discovery==1.4.2
pytokens==0.4.1
pywin32-ctypes==0.2.3
RapidFuzz==3.14.5
requests==2.34.2
requests-toolbelt==1.0.0
shellingham==1.5.4
sqlparse==0.5.5
tomlkit==0.15.0
trove-classifiers==2026.6.1.19
tzdata==2026.2
urllib3==2.7.0
virtualenv==21.5.1
